{% extends 'base.html.twig' %}


{% block body %}

    <h1>Register a new account</h1>

    {{ form_start(form) }}
        {{ form_row(form.inviteCode) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">register</button>&emsp;
            <a href="{{ path('login') }}">back to login</a>
        </div>
    {{ form_end(form) }}

{% endblock %}
